.contact-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  width: 600px;
  margin: 100px auto;
  padding: 50px;
  background-color: black;
}

.contact-container h4 {
  padding: 15px;
  color: white;
}

.contact-container h4:hover {
  color: crimson;
}

.profile-details {
  margin-left: 525px;
  margin-top: 200px;
}
