.user-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px auto;
  width: 50%;
}

.user-name {
  display: flex;
  margin: 20px;
}

.user-avatar {
  border-radius: 20px;
  margin-right: 10px;
}

.user-comment {
  display: flex;
  margin: 20px;
}
