body {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  width: 100%;
  margin-top: 5%;
}

.gridcontainer p img {
  width: 80%;
}

.gridcontainer p a {
  margin-top: 25px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.booklist {
  margin-left: 11%;
  border: 1px solid black;
  border-radius: 10px;
}

.delete-book {
  display: flex;
  margin: 10px auto;
  padding: 10px;
  background-color: black;
  color: white;
}

.delete-book:hover {
  color: crimson;
}
